/*
Theme Name: Openweb Theme
Theme URI: http://webpublicas.bbva.com
Author: OpenWeb Team. (@OpenWebTeam)
Description: Tema para Wordpress basado en la inicitiva Coronita del equipo UX BBVA.
Version: 1.6.3
*/
/*
Definicion de los colores de las categorias para la clase .bullet
ejemplos:
*/
.bbva-cards .article-category.h6.bullet.categoria-1:before,
.item-category.categoria-1:before {
    color: #da3851;
}

.bbva-cards .article-category.h6.bullet.antiquarianism:before,
.item-category.cat-c:before {
    color: #f7893b;
}

.bbva-cards .article-category.h6.bullet.categoria-2:before,
.bbva-cards .article-category.h6.bullet.categoria-4:before,
.bbva-cards .article-category.h6.bullet.categoria-5:before,
.item-category.categoria-2:before,
.item-category.categoria-4:before,
.item-category.categoria-5:before {
    color: #f8cd51;
}

.bbva-cards .article-category.h6.bullet.categoria-6:before {
    color: #48ae64;
}

.bbva-cards .article-category.h6.bullet.categoria-7:before,
.bbva-cards .article-category.h6.bullet.categoria-8:before,
.bbva-cards .article-category.h6.bullet.categoria-9:before {
    color: #5bbeff;
}

.bbva-cards .article-category.h6.bullet.categoria10:before {
    color: #8f7ae5;
}

.bg-bbva {
    background: #004481 !important;
}





/*Custom color aqua*/

footer a {

    color: #2DCCCD !important;
}
footer{

    background-color: #028484 !important;
}

footer .disclosure{
    color: white !important;
}

body > header.container-fluid{

  background-color: #028484 !important;
}
body > header.container-fluid .main-nav ul li a{

    color: white !important;
}
/* Custom Containers */

.container-fluid {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.container-fluid .bg-white {
    padding-top: 3em !important;
    padding-bottom: 3em !important;
    margin-bottom: 0 !important;
}

section.container-fluid {
    padding-top: 0 !important;

}

body>header.container-fluid nav.navbar .navbar-header {
    float: none;
    padding-top: 0 !important;
}


.row.menu_rapido {
    margin: 0;
    display: flex;
    justify-content: center;
}

/* Custom Containers */

/* Banner home */
.bg-bbva-container {
    background-image: url('./img/aqua-background.png');
    background-repeat: no-repeat;
    background-size: cover;
}


.home {
    background: #f4f4f4 !important;
}

.secondary-nav {
    display: none;
}

/* Banner */
.hero-banner {
    background-image: url(./img/image-banner-hipotecario.png);
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.custom-title {
    position: relative;
    top: 100px;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 48px;
}

/* Banner */


/* Custom Cards */
.card-img-bottom {
    height: 32rem;
    background-size: cover;
}

.card-img-left {
    position: absolute;
    height: auto;
    max-height: 100%;
    width: auto;
    max-width: 40%;
}

.bg-one,
.bg-two,
.bg-three,
.bg-four,
.bg-five,
.bg-six {
    height: 341px;
    max-height: 341px;
}

.bg-one {
    background: linear-gradient(100deg, #072146 0%, #072146 50%, #043263 50%, #043263 100%);
    background-size: 220% 100%;
    background-position: right bottom;
    transition: all 200ms ease
}

.bg-two {
    background: #043263;
}

.bg-three {
    background: #1464A5;
}

.bg-four {
    background: #1973B8;
}

.bg-five {
    background: #49A5E6;
}

.bg-six {
    background: #02A5A5;
}

.img-procesos {
    width: 160px;
    height: 160px;
    float: right;
}

.card-title-process,
.title-cards-colors {
    color: #fff !important;
    font-weight: 600;
    font-size: 26px;
    margin: 0 0 8px !important;
}

.text-card-process {
    position: relative;
    margin-top: 100px;
}

.title-process {
    color: #fff !important;
    font-size: 36px;
    letter-spacing: -1.2px !important;
}

.col-md-3 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.card-primary {
    background: #072146 !important;
}

.card-secundary {
    background: #004481 !important;
}

.card-hero-home {
    background-color: #fff;
}

.card-hero-home .text-hero-banner {
    font-size: 24px;
    line-height: 24px;
}

.card-hero-home .text-medium {
    font-weight: 600;
}

.card-text-procesos {
    padding: 28px;
    max-height: 220px;
    height: 220px;
}

.card-text {
    padding: 16px;
}

.bbva-cards .card-block [class*="col"] {
    justify-content: center !important;
}

.card-text-noticias {
    padding: 24px;
    background: #fff;
    box-shadow: 0 1px 1px 0 #d3d3d3;
    width: 260px;
    height: 250px;
}

/** cards con ilustraciones index**/
.svg {
    float: right;
    width: 100%;
}

.text-card {
    float: left;
    padding-block-end: inherit;
    text-align: left;
}

/* Custom Cards */


/* Page Productos */
.card-text-products {
    padding: 8px;
    background: #fff;
    height: 60px;
    box-shadow: 0 1px 1px 0 #d3d3d3;
    /*min-height: 115px;*/
    min-height: 124px;
}

.card-text-products p {
    font-size: 15px;
}

.container-flex {
    display: grid;
    justify-content: center;
    height: auto;
}

.second-row {
    margin-top: 40px;
}

/* Page Productos */
.text-white {
    color: #fff !important;
}

.custom-text {
    position: relative;
    top: 49.04%;
}

.hero-button {
    position: absolute;
    left: 0px;
}

.hero-button .btn {
    margin: 0 !important;
}

.bbva-coronita_graphics,
.bbva-coronita_id,
.bbva-coronita_rewards,
.bbva-coronita_document,
.bbva-coronita_portfolio {
    color: #028484 !important;
    font-size: 26px;
    padding: 16px;
}

.bbva-coronita_auto {
    font-size: 18px;
    color: #028484 !important;
    padding-bottom: 8px;
}

.div-svg {
    padding: 19px 0 10px 0;
    font-size: 16px;
}

/* Animacion de SVG */

.div-svg:hover svg {
    transform: translateY(-0.5em);
    transition: all 200ms;
}

.menu_rapido .col-sm-2:hover .bbva-coronita_rewards {
    transform: translateY(-0.5em);
    transition: all 200ms;
}

.menu_rapido .col-sm-2:hover .bbva-coronita_id {
    transform: translateY(-0.5em);
    transition: all 200ms;
}

.menu_rapido .col-sm-2:hover .bbva-coronita_portfolio {
    transform: translateY(-0.5em);
    transition: all 200ms;
}

.disclosure {
    font-size: 15px !important;
    line-height: 20px !important;
}

.back-white {
    background-color: #fff !important;
}

body>header.container-fluid .main-nav ul li a:hover {
    color: #fff !important;
    text-decoration: none;
}

body>header.container-fluid .main-nav ul li a:active {
    color: #fff !important;
    text-decoration: none;
    border-bottom: 4px solid #fff;
}

#main-menu-ids .current-menu-item a {
    border-bottom: 6px solid #fff !important;
    padding-bottom: 1.7em;
    color: #fff !important;
}

#navigation #main-menu-ids .current-page-ancestor a {
    border-bottom: 6px solid #fff !important;
    padding-bottom: 1.7em;
    color: #fff !important;
}

.cards-image {
    height: 280px !important;
    max-height: 323px;
    display: block;
    margin: 0 auto;
}

.bbva-coronita_add {
    color: #028484;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    width: 32%;
    display: block;
    margin: 0 auto;
}

.bbva-coronita_visual {
    color: #028484 !important;
}


.card-text-sec-noticias {
    padding: 8px;
    padding-bottom: 32px;
    height: 250px;
    max-height: 255px;
    background: #F4F4F4;
    box-shadow: 0 1px 1px 0 #d3d3d3;
}

.col-md-4 {
    padding-bottom: 48px;
}

.col-sm-4 {
    padding-bottom: 32px;
}

.card-text .disclosure {
    padding-top: 16px
}

.cards-image-noticias img {
    width: 360px;
    height: 223px;
}

.cards-image-comunicados {
    width: 360px;
    height: 223px;
}

.card-text-noticias .faux-link {
    bottom: 30px;
    color: #1973b8;
    display: block;
    margin-bottom: 0;
    position: absolute;
}

.card-text-noticias .h5 {
    font-family: "BentonSansBBVA Medium", "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.card-text-noticias .disclosure {
    padding-top: 8px;
}

.loadmore {
    font-size: 14px;
    font-family: "BentonSansBBVA Medium", "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.bbva-coronita_add:before {
    position: relative;
    top: 4px;
}

.bg-one {
    background: linear-gradient(100deg, rgba(7, 33, 70, .5) 0%, rgba(7, 33, 70, .5) 50%, #028484 50%, #028484 100%);
    background-size: 220% 100%;
    background-position: right bottom;
    transition: all 500ms ease;
}

.bg-two {
    background: linear-gradient(100deg, rgba(7, 33, 70, .5) 0%, rgba(7, 33, 70, .5) 50%, #018787 50%, #018787 100%);
    background-size: 220% 100%;
    background-position: right bottom;
    transition: all 500ms ease;
}

.bg-three {
    background: linear-gradient(100deg, rgba(7, 33, 70, .5) 0%, rgba(7, 33, 70, .5) 50%, #02A5A5 50%, #02A5A5 100%);
    background-size: 220% 100%;
    background-position: right bottom;
    transition: all 500ms ease;
}

.bg-four {
    background: linear-gradient(100deg, rgba(7, 33, 70, .5) 0%, rgba(7, 33, 70, .5) 50%, #5AC4C4 50%, #5AC4C4 100%);
    background-size: 220% 100%;
    background-position: right bottom;
    transition: all 500ms ease;
}

.bg-five {
    background: linear-gradient(100deg, rgba(7, 33, 70, .5) 0%, rgba(7, 33, 70, .5) 50%, #2DCCCD 50%, #2DCCCD 100%);
    background-size: 220% 100%;
    background-position: right bottom;
    transition: all 500ms ease;
}

.bg-six {
    background: linear-gradient(100deg, rgba(7, 33, 70, .5) 0%, rgba(7, 33, 70, .5) 50%, #88CA9A 50%, #88CA9A 100%);
    background-size: 220% 100%;
    background-position: right bottom;
    transition: all 500ms ease;
}

#busqueda-header::placeholder {
    color: #fff;
}

#busqueda-header {
    color: #fff;
    border-bottom: none;
}

#hide-desktop {
    display: block;

}

#hide-mobile {
    display: none;
}

.aqua {
    color: #0fb1b2;
    text-align: center;
}

.bbva-cards-editorial .card-block .card-wrap p:not(.faux-link) {
    margin-bottom: 0px;
}

.bg-grey100 a {
    color: #000000;
}

@media (min-width: 768px) {
    .col-sm-2 {
        width: 15.666667% !important;
    }

    #hide-desktop {
        display: none;

    }

    #hide-mobile {
        display: block;
    }

    .align_mobile {
        text-align: center !important;
        padding-top: 24px !important;
    }

}


.image-rot,
.text-d-none {
    display: none;
}



/*  =====  RESPONSIVE - 1440px > 1280px - Window XLARGE =====  */

@media screen and (min-width:1280px) {
    .navbar-static-top .navbar-header {
        display: none;
    }

    #hide-desktop {
        display: none;

    }

    #hide-mobile {
        display: block;
    }

    /* imagen interna*/
    .hero-banner2 img {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        width: 100%;
        height: 400px;

    }

    .align_mobile {
        text-align: left !important;
        padding-top: 24px !important;
    }

}

@media (min-width: 1200px) {
    .card-hero-home {
        height: 178px;
    }
}

@media screen and (max-width:1440px) and (min-width:1280px) {}

/*  =====  RESPONSIVE - 1279px > 769px - Window LARGE =====  */

@media screen and (max-width:1279px) and (min-width:769px) {
    .card-text-noticias {
        width: 100%;
    }

    body>header.container-fluid ul li {
        padding-left: 1.5em;
    }

    .header-text {
        top: 16%;
    }

    .card-text-sec-noticias h4 {
        font-size: 20px;
    }

    .card-text-sec-noticias p {
        font-size: 14px;
    }

    .card-text {
        padding: 8px;
    }

    .bbva-coronita_home {
        display: none;
    }

    header .navbar-collapse.collapse {
        display: none !important;
    }

    .navbar-toggle {
        display: block !important;
    }

    .aqua {
        color: #0fb1b2;
        margin: 32px 20px 32px;
        text-align: left;
    }

    .btn-tam {
        width: 48% !important;
    }

    #hide-desktop {
        display: none;

    }

    #hide-mobile {
        display: block;
    }

    .hero-banner2 img {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        width: 100%;
        height: 150px;

    }

    .articles .bbva-cards-editorial .card-block [class*="col"]:first-child .card-wrap .card-img {
        height: 100% !important;
    }

    .articles .bbva-cards-editorial .card-block [class*="col"]:first-child .card-wrap .card-text {
        bottom: 0 !important;
        position: absolute !important;
        background: linear-gradient(0deg, rgba(0, 0, 0, .5) 0%, rgba(255, 255, 255, 0) 100%) !important;
        height: auto !important;
        text-align: justify;
    }

    .articles .bbva-cards-editorial [class*="col"]:first-child .card-wrap .card-text .disclosure {
        color: #ffffff !important;
    }

    .align_mobile {
        text-align: left !important;
        padding-top: 24px !important;


    }
}

@media screen and (max-width:991px) and (min-width:636px) {
    .articles .bbva-cards-editorial .card-block [class*="col"]:first-child .card-wrap .card-text {
        bottom: 0 !important;
        position: relative !important;
        background: transparent !important;
        height: auto !important;
        text-align: justify;
    }

    .articles .bbva-cards-editorial [class*="col"]:first-child .card-wrap .card-text .disclosure {
        color: #666666 !important;
    }

    .align_mobile {
        text-align: center !important;
        padding-top: 24px !important;

    }

    .container-procesos {
        width: 100% !important;
    }

    .align_mobile {
        text-align: center !important;
        padding-top: 24px !important;


    }

}

@media screen and (max-width:823px) and (min-width:568px) {
    .display-none-mobil {
        display: none !important;
    }

    body>header.container-fluid,
    .footer-full {
        display: none !important;
    }

    .back-image-lands {
        background-color: #072146 !important;
    }

    .image-rot {
        display: block;
        margin: 0 auto;
        width: 60%;
    }

    .text-d-none {
        display: block;
    }

    .align_mobile {
        text-align: left !important;
        padding-top: 24px !important;

    }

    .image-mobile-item {
        height: 100%;
        width: 100%;
        margin-bottom: 3em !important;
        margin-top: 3em !important;
    }

    .aqua {
        color: #0fb1b2;
        margin: 32px 20px 32px;
        text-align: left;
    }

    footer .tagline-container,
    footer .social-media ul,
    footer nav>ul {

        justify-content: left !important;
    }

}

/*  =====  RESPONSIVE - 768px > 600px - Window MEDIUM =====  */

@media screen and (max-width:768px) and (min-width:600px) {
    .card-text {
        padding: 8px;
    }

    .card-text-noticias {
        width: 100%;
    }

    .cards-image {
        height: 220px !important;
    }

    #card_1,
    #card_2,
    #card_3,
    #card_4,
    #card_5,
    #card_6 {
        height: 220px !important;
    }

    header .navbar-collapse.collapse {
        display: none !important;
    }

    .navbar-toggle {
        display: block !important;
    }

    .carousel-inner>.item {
        height: 300px;
    }

    .carousel-inner>.item>img {
        height: 300px !important;
    }

    .header-text {
        left: 39px;
        top: 29%;
    }

    .card-hero-home .text-hero-banner {
        font-size: 18px;
    }

    .card-hero-home .disclosure {
        font-size: 14px !important;
    }

    .card-text .disclosure {
        padding-top: 0px !important;
    }

    .carousel-control {
        width: 11% !important;
    }

    .aqua {
        color: #0fb1b2;
        margin: 32px 16px 32px;
        text-align: left;
    }

    .btn-tam {
        width: 48% !important;
    }

    #hide-desktop {
        display: none;

    }

    #hide-mobile {
        display: block;
    }

    .hero-banner2 img {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        width: 100%;
        height: 150px;

    }

    .articles .bbva-cards-editorial .card-block [class*="col"]:first-child .card-wrap .card-img {
        height: 220px !important;
    }

    .articles .bbva-cards-editorial .card-block [class*="col"]:first-child .card-wrap .card-text {
        bottom: 0 !important;
        position: relative !important;
        background: transparent !important;
        height: auto !important;
        text-align: justify;
    }

    .disclosure {
        color: #666666 !important;
    }

    .image-mobile-item {
        height: 100%;
        width: 100%;
        margin-bottom: 3em !important;
        margin-top: 3em !important;
    }

    .align_mobile {
        text-align: left !important;
        padding-top: 24px !important;


    }

    footer .tagline-container {

        display: flow-root !important;
    }
}


/*  =====  RESPONSIVE - 599px > 360px - Mobile BIG =====  */

@media screen and (max-width:599px) and (min-width:360px) {
    .row_mercado {
        display: block !important;
    }

    .text-card {
        float: none !important;
        position: relative;
        top: 1.5em;
    }

    .card-img-bottom {
        height: 43rem;
        width: 100%;
    }

    .cont-mn-rapido {
        display: flex !important;
        overflow: auto;
        white-space: nowrap;
    }

    .card-text-noticias {
        width: 100%;
    }

    .col-sm-4 {
        padding: 16px;
    }

    .cards-image-noticias {
        width: 100% !important;
    }

    .cards-image-comunicados {
        width: 100% !important;
    }

    .card-text {
        padding: 8px;
    }

    .svg {
        width: 100%;
    }

    .img-procesos {
        float: right;
    }

    .item.active {
        min-height: 300px !important;
    }

    .carousel-inner>.item>img {
        height: 151px !important;
    }

    .carousel {
        box-shadow: 0 1px 1px 0 #d3d3d3;
    }

    .item>.header-text {
        left: 21px;
        width: 100% !important;
        top: 2%;
        position: static;
    }

    .card-hero-home .text-hero-banner {
        font-size: 18px;
    }

    .card-hero-home .disclosure {
        font-size: 14px !important;
    }

    .card-text .disclosure {
        padding-top: 0px !important;
    }

    .carousel-control {
        width: 11% !important;
        opacity: 0.2 !important;
    }

    .bg-one,
    .bg-two,
    .bg-three,
    .bg-four,
    .bg-five,
    .bg-six {
        margin-left: 16px;
        margin-right: 16px;
    }

    .bg-grey100 a {
        overflow-wrap: normal !important;
    }

    /*
    .aqua {
        color: #0fb1b2;
        margin: 32px 98px 32px;
        text-align: center;
    }
*/


    .btn-tam {
        width: 48% !important;
    }

    .bbva-cards .card-block .card-wrap .card-text {
        padding: 18px !important;
    }

    .articles .bbva-cards-editorial .card-block [class*="col"]:first-child .card-wrap .card-img {
        height: 220px !important;
    }

    .articles .bbva-cards-editorial .card-block [class*="col"]:first-child .card-wrap .card-text {
        bottom: 0 !important;
        position: relative !important;
        background: transparent !important;
        height: auto !important;
        text-align: justify;
    }

    .disclosure {
        color: #666666 !important;
    }

    .hero-banner2 img {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        width: 100%;
        height: 150px;

    }

    .align_mobile {
        text-align: center !important;
        padding-top: 24px !important;

    }

    .bg-one,
    .bg-two,
    .bg-three,
    .bg-four,
    .bg-five,
    .bg-six {
        height: auto !important;
        max-height: max-content;
    }

    .image-mobile-item {
        height: 100%;
        width: 100%;
        margin-bottom: 3em !important;
        margin-top: 3em !important;
    }

    .cards-image-noticias img {
        width: 100% !important;
    }
}

/*  =====  RESPONSIVE - 359px > 300px - Mobile SMALL =====  */

@media screen and (max-width:359px) and (min-width:300px) {
    .row_mercado {
        display: block !important;
    }

    .cont-mn-rapido {
        display: flex !important;
        overflow: auto;
        white-space: nowrap;
    }

    .text-card {
        float: none !important;
        position: relative;
        top: 1.5em;
    }

    .card-img-bottom {
        height: auto;
        width: 100%;
    }

    .row {
        display: block;
    }

    .card-text-noticias {
        width: 100%;
    }

    .col-sm-4 {
        padding: 16px;
    }

    .cards-image-noticias {
        width: 100% !important;
    }

    .cards-image-comunicados {
        width: 100% !important;
    }

    .bbva-coronita_add {
        width: 50%;
    }

    .card-text {
        padding: 8px;
    }

    .svg {
        width: 100%;
    }

    .img-procesos {
        float: right;
    }

    .bg-one,
    .bg-two,
    .bg-three,
    .bg-four,
    .bg-five,
    .bg-six {
        margin-left: 16px;
        margin-right: 16px;
    }

    .bg-grey100 a {
        overflow-wrap: normal !important;
    }

    /* Animaciones de background para Procesos */

    .container .row .bg-one:hover {
        background-color: #072146;
        box-shadow: none;
        color: white;
        background-position: left bottom;
        cursor: pointer;
    }

    .container .row .bg-two:hover {
        background-color: #072146;
        box-shadow: none;
        color: white;
        background-position: left bottom;
        cursor: pointer;
    }

    .container .row .bg-three:hover {
        background-color: #072146;
        box-shadow: none;
        color: white;
        background-position: left bottom;
        cursor: pointer;
    }

    .container .row .bg-four:hover {
        background-color: #072146;
        box-shadow: none;
        color: white;
        background-position: left bottom;
        cursor: pointer;
    }

    .container .row .bg-five:hover {
        background-color: #072146;
        box-shadow: none;
        color: white;
        background-position: left bottom;
        cursor: pointer;
    }

    .container .row .bg-six:hover {
        background-color: #072146;
        box-shadow: none;
        color: white;
        background-position: left bottom;
        cursor: pointer;
    }

    /* Fin Animaciones de background para Procesos */


    .aqua {
        color: #0fb1b2;
        margin: 32px 98px 32px;
        text-align: center;
    }

    .btn-tam {
        width: 48% !important;
    }

    .articles .bbva-cards-editorial .card-block [class*="col"]:first-child .card-wrap .card-img {
        height: 220px !important;
    }

    .articles .bbva-cards-editorial .card-block [class*="col"]:first-child .card-wrap .card-text {
        bottom: 0 !important;
        position: relative !important;
        background: transparent !important;
        height: auto !important;
        text-align: justify;
    }

    .disclosure {
        color: #666666 !important;
        text-align: center !important;

    }

    #hide-desktop {
        display: block;

    }

    #hide-mobile {
        display: none;
    }

    .item.active {
        min-height: 300px !important;
    }

    .carousel-inner>.item>img {
        height: 151px !important;
    }

    .carousel {
        box-shadow: 0 1px 1px 0 #d3d3d3;
    }

    .item>.header-text {
        left: 21px;
        width: 100% !important;
        top: 2%;
        position: static;
    }

    .carousel-control {
        width: 11% !important;
        opacity: 0.2 !important;
    }

    .hero-banner2 img {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        width: 100%;
        height: 150px;

    }

    .bg-one,
    .bg-two,
    .bg-three,
    .bg-four,
    .bg-five,
    .bg-six {
        height: auto !important;
        max-height: max-content;
    }

    .image-mobile-item {
        height: 100%;
        width: 100%;
        margin-bottom: 3em !important;
        margin-top: 3em !important;
    }

    .align_mobile {
        text-align: center !important;
        padding-top: 24px !important;


    }
}


/* inicia style de estructura*/
.margin {
    margin: 0 0 0 !important;
}


.modal-content {
    position: absolute;
    padding: 3em;
}

h5 {
    margin: auto !important;
}

.icon-cargo {
    margin-right: 0.5em;
}

.image {
    display: block;
    width: auto;
    max-height: 100%
}

.pointer {
    cursor: pointer;
}

.btn-modal {
    float: right;
    margin: 0 0 !important;
}

.footer-full h4 {
    font-size: 18px !important;
}

/* fin style de estructura*/



/*ajuste del logo*/

body>header.container-fluid #logo img,
body>header.container-fluid #logo-mobile img {
    width: 173px !important;
    height: 44px !important;
    left: 118px !important;
    top: 28px !important;
}


body>header.container-fluid .main-nav ul {
    margin-left: 216px !important;
}

body>header.container-fluid .main-nav ul:last-child {

    top: 10px !important;
    right: 0 !important;


}

.search-close {
    padding: 2rem 0 !important;

}

/* Corecciones a Coronita */

.bbva-cards .card-block .card-wrap .faux-link {
    color: #1d73b2 !important;
}

a:hover .faux-link {
    color: #1464a5 !important;
}

.bbva-cards .card-block .card-wrap .faux-link {
    display: none !important;
}

.card-text-noticias .faux-link {
    display: none !important;
}

.card-block a:hover span {
    -webkit-filter: brightness(90%);
}

.bbva-cards-editorial .card-block [class*="col"]:first-child .card-wrap .card-text {
    bottom: 0 !important;
    position: absolute !important;
    background: linear-gradient(0deg, rgba(0, 0, 0, .5) 0%, rgba(255, 255, 255, 0) 100%) !important;
    height: 13em !important;
    text-align: center;
}

.bbva-cards-editorial .card-block [class*="col"]:first-child .card-wrap .card-img {
    height: 100% !important;
}


.container .row .bg-one:hover {
    background-color: #072146;
    box-shadow: none;
    color: white;
    background-position: left bottom;
    cursor: pointer;
}

.container .row .bg-two:hover {
    background-color: #072146;
    box-shadow: none;
    color: white;
    background-position: left bottom;
    cursor: pointer;
}

.container .row .bg-three:hover {
    background-color: #072146;
    box-shadow: none;
    color: white;
    background-position: left bottom;
    cursor: pointer;
}

.container .row .bg-four:hover {
    background-color: #072146;
    box-shadow: none;
    color: white;
    background-position: left bottom;
    cursor: pointer;
}

.container .row .bg-five:hover {
    background-color: #072146;
    box-shadow: none;
    color: white;
    background-position: left bottom;
    cursor: pointer;
}

.container .row .bg-six:hover {
    background-color: #072146;
    box-shadow: none;
    color: white;
    background-position: left bottom;
    cursor: pointer;
}

#searchform {
    padding-top: 44px;
}


.secondary-nav {
    display: none;
}


.barra-busqueda {
    background-color: #004481;
    height: 74px;
    width: 100%;
    display: ruby-base;
}

.barra-busqueda input {
    background-color: #004481;
    width: 100%;

}

/*Altura de caja para stracto comunicados */


.caja1 p {

    height: 65px;
    padding-top: 8px;
}


.caja2 p {

    height: 130px;
}

.card-related {
    padding-bottom: 14px !important;
}

.card-wrap2 {
    padding-bottom: 14px !important;

}

/* Menú sticky

body > header.container-fluid nav.navbar {
    position: fixed;
    top: 0;
    background-color: #072146;
    width: 100%;
}

*/

/*contenedor de iconos menu rapido*/

.size-carousel-mobile {
    height: 200px;
}


/*bolitas de banner*/

/*bolitas de banner*/

.carousel-indicators li {
    border-radius: 200px !important;
    padding: .5rem !important;
}

/*ajuste ul centrado mobile*/
footer nav>ul {

    display: contents !important;
}


.card-text-sec-noticias h4 {
    height: 90px;
}

.card-text-products h4 {
    height: 60px;
}

.scroll {

    /*height: 250px;*/
    min-height: 70px;
    max-height: 234px;
    /*height: 200px;*/

    width: 100%;
    max-width: auto;
    overflow: auto;
    box-sizing: border-box;
    overflow-y: scroll;
    padding: 0 0 !important;

}




.scroll::-webkit-scrollbar {
    -webkit-appearance: none;
}

.scroll::-webkit-scrollbar:vertical {
    width: 10px;
}

.scroll::-webkit-scrollbar-button:increment,
.scroll::-webkit-scrollbar-button {
    display: none;
}

.scroll::-webkit-scrollbar:horizontal {
    height: 10px;

}

.scroll::-webkit-scrollbar-thumb {

    border-radius: 20px;
    border: 10px solid #f1f2f3;
}

.scroll::-webkit-scrollbar-track {
    border-radius: 20px;
}