@charset "UTF-8";
/* Media Queries */
@media (max-width: 87.5em) {
  .hero-showcase {
    margin-bottom: 4em; }
    .hero-showcase .hero-img-wrapper {
      left: 0;
      margin-left: 0;
      right: 0;
      width: 100%; }
      .hero-showcase .hero-img-wrapper .hero-img {
        right: 0;
        width: 62%;
        top: 9vw; }
        .hero-showcase .hero-img-wrapper .hero-img img {
          right: -9%; } }

@media (max-width: 75em) {
  .hero-h1, .hero h1, h1.hero, .hero-h1 a, .hero h1 a, h1.hero a {
    font-size: 6rem; }
  h2, .h2 {
    font-size: 3.6rem; }
  blockquote {
    margin: 3em 10%; }
  body > header.container-fluid nav.navbar {
    margin-bottom: 1.5625em; }
    body > header.container-fluid nav.navbar .navbar-header {
      padding-top: 1.5625em; }
  #header-sign-in-mobile .sign-in-form {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    #header-sign-in-mobile .sign-in-form h2 {
      margin-bottom: 0;
      width: 100%; }
  /* Commercial Sign-In */
  #header-sign-in-mobile .sign-in-commercial .sign-in-form {
    margin-top: -1em; }
    #header-sign-in-mobile .sign-in-commercial .sign-in-form h2 {
      margin-bottom: 0.7em;
      padding-right: 0; }
    #header-sign-in-mobile .sign-in-commercial .sign-in-form > div {
      margin-left: 0; }
  .navbar-header {
    float: none; }
  .navbar-left, .navbar-right {
    float: none !important; }
  .navbar-toggle {
    display: block; }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1); }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px; }
  .navbar-collapse.collapse {
    display: none !important; }
  .navbar-nav {
    float: none !important;
    margin-top: 7.5px; }
  .navbar-nav > li {
    float: none; }
  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px; }
  .collapse.in {
    display: block !important; }
  li.sidr-class-hidden-btn {
    display: none !important; }
  .sidr ul.sidr-class-sidr-hidden, #sidr-id-header-sign-in {
    display: none !important; }
  .btn-lg {
    padding: 1.85rem 5rem; }
  .crm-disposition-buttons {
    padding: 2.5em; }
  .crm-mobile-app-links > span,
  .crm-mobile-app-links > span:first-child,
  .crm-mobile-app-links > span:last-child,
  .crm-mobile-app-links > span .crm-no-interest {
    display: block;
    text-align: center; }
  .crm-mobile-app-links {
    padding: 2rem 2.5em; }
  .crm-mobile-app-links > span:first-child {
    padding-bottom: 0.7rem; }
  .crm-mobile-app-links > span:last-child, .crm-mobile-app-links > span:last-child a {
    margin-bottom: 0; }
  .hero-main, .hero-secondary {
    min-height: none;
    min-height: 5vh; }
  .hero-showcase {
    margin-bottom: 6.5em;
    min-height: 500px; }
    .hero-showcase .hero-text {
      width: 60%; }
    .hero-showcase .hero-img-wrapper .hero-img {
      width: 55%;
      top: 4.25vw; }
  /* Video Modal */
  .modal-video .modal-dialog {
    margin-top: 3em;
    width: 80%; }
  /* City - State Selector Modal */
  .chooseRegion .modal-dialog {
    margin: 30px auto; }
  /* Cards - Image "Break" Layout */
  .bbva-cards .card-block .card-img-break img {
    max-width: 80%; }
  .most-popular .most-popular-wrapper .most-popular-product {
    padding: 0 1.5em 2em; }
    .most-popular .most-popular-wrapper .most-popular-product .most-popular-marker span {
      font-size: 2.4rem; } }

@media (max-width: 61.9375em) {
  .hero-h1, .hero h1, h1.hero, .hero-h1 a, .hero h1 a, h1.hero a {
    font-size: 4.9rem; }
  h1, .h1 {
    font-size: 4rem; }
  blockquote.blockquote-aside {
    float: none;
    margin: 3em 10%;
    padding: 3em;
    width: auto; }
  hr {
    margin: 1.5em auto; }
  .img-responsive {
    max-width: 85%; }
  .page-header {
    padding-bottom: 0;
    padding-top: 0; }
  #header-sign-in-mobile .sign-in-links {
    min-height: 30rem; }
  /* Commercial Sign-In */
  #header-sign-in-mobile .sign-in-commercial .sign-in-form {
    margin-top: 0; }
    #header-sign-in-mobile .sign-in-commercial .sign-in-form h2 {
      margin-bottom: 0.7em; }
    #header-sign-in-mobile .sign-in-commercial .sign-in-form .btn {
      margin-bottom: 1em;
      width: 100%; }
  footer {
    padding: 3.8em 0; }
  footer .social-media ul a {
    margin-left: 0.325em; }
  .pre-footer {
    padding: 3em 0 4.375em; }
    .pre-footer .flex {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
    .pre-footer .flex div:nth-child(1), .pre-footer .flex div:nth-child(2) {
      padding-bottom: 2em; }
    .pre-footer .flex div:nth-child(1), .pre-footer .flex div:nth-child(3) {
      border-right: 1px solid #e9e9e9; }
    .pre-footer .flex div:nth-child(2), .pre-footer .flex div:nth-child(4) {
      padding-left: 4em; }
    .pre-footer .flex div:nth-child(3), .pre-footer .flex div:nth-child(4) {
      border-top: 1px solid #e9e9e9;
      padding-top: 2em; }
  .container-fluid.pre-footer-alt .flex div:nth-child(1), .container-fluid.pre-footer-alt .flex div:nth-child(3) {
    border-right: 1px solid #f4f4f4; }
  .container-fluid.pre-footer-alt .flex div:nth-child(3), .container-fluid.pre-footer-alt .flex div:nth-child(4) {
    border-top: 1px solid #f4f4f4; }
  .footer-full nav {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .footer-full nav div:nth-child(3), .footer-full nav div:nth-child(4) {
      border-top: 1px solid #004481;
      padding-top: 3em; }
  .crm-disposition-buttons .crm-reservation-code-form {
    display: table;
    width: 100%;
    margin-bottom: 1.8rem; }
    .crm-disposition-buttons .crm-reservation-code-form .form-group-bbva {
      display: table-cell;
      margin: 0;
      vertical-align: middle; }
      .crm-disposition-buttons .crm-reservation-code-form .form-group-bbva:first-child {
        width: 80%; }
      .crm-disposition-buttons .crm-reservation-code-form .form-group-bbva .form-control-bbva.crm-reservation-code-input {
        display: block;
        margin: 0;
        width: 100%; }
      .crm-disposition-buttons .crm-reservation-code-form .form-group-bbva .crm-reservation-code-submit {
        display: block;
        margin: 0;
        max-width: 100%;
        white-space: nowrap;
        width: 100%; }
  .crm-mobile-app-links {
    display: table;
    width: 100%; }
    .crm-mobile-app-links > span {
      display: table-cell; }
      .crm-mobile-app-links > span:first-child {
        padding-bottom: 0;
        text-align: left;
        display: table-cell; }
      .crm-mobile-app-links > span:last-child {
        text-align: right;
        display: table-cell; }
      .crm-mobile-app-links > span a {
        width: 100%; }
      .crm-mobile-app-links > span .crm-no-interest {
        text-align: right;
        border: none; }
  .bbva-cards .col-xs-12 > p {
    padding: 0 7%; }
  .bbva-cards .view-more {
    padding-top: 3em; }
  .bbva-cards .card-block {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .bbva-cards .card-block [class*="col"] {
      margin-bottom: 30px;
      -webkit-flex: unset;
      -ms-flex: unset;
      flex: unset; }
    .bbva-cards .card-block .card-wrap {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
      .bbva-cards .card-block .card-wrap .card-img {
        height: auto;
        width: 40%;
        margin: 0 15px 0 0; }
      .bbva-cards .card-block .card-wrap .card-text {
        padding: 30px;
        width: 60%; }
      .bbva-cards .card-block .card-wrap .faux-link {
        left: 41.5%; }
  /* Stacking cards don't need extra margin and padding */
  .bbva-cards.card-stack {
    padding-bottom: 0; }
  /* Editorial Layout / Featured Articles */
  .bbva-cards-editorial .card-block .card-wrap h3 {
    padding-top: 0; }
  .bbva-cards-editorial .card-block .card-wrap p:not(.faux-link) {
    min-height: auto;
    height: auto; }
  .bbva-cards-editorial .card-block .image-header-overlay {
    display: none; }
  .bbva-cards-editorial .card-block [class*="col"]:first-child, .bbva-cards-editorial .card-block [class*="col"]:last-child {
    -webkit-flex: auto;
    -ms-flex: auto;
    flex: auto; }
    .bbva-cards-editorial .card-block [class*="col"]:first-child .card-wrap, .bbva-cards-editorial .card-block [class*="col"]:last-child .card-wrap {
      min-height: auto;
      max-height: none;
      height: auto; }
      .bbva-cards-editorial .card-block [class*="col"]:first-child .card-wrap .card-img, .bbva-cards-editorial .card-block [class*="col"]:last-child .card-wrap .card-img {
        height: auto;
        width: 40%; }
      .bbva-cards-editorial .card-block [class*="col"]:first-child .card-wrap .card-text, .bbva-cards-editorial .card-block [class*="col"]:last-child .card-wrap .card-text {
        margin-bottom: 2rem;
        margin-top: 0;
        max-height: unset;
        width: 60%; }
      .bbva-cards-editorial .card-block [class*="col"]:first-child .card-wrap .article-category, .bbva-cards-editorial .card-block [class*="col"]:last-child .card-wrap .article-category {
        color: #bdbdbd;
        margin-bottom: 0.7em; }
      .bbva-cards-editorial .card-block [class*="col"]:first-child .card-wrap h3, .bbva-cards-editorial .card-block [class*="col"]:last-child .card-wrap h3 {
        color: #121212;
        font-size: 2.6rem;
        height: auto;
        margin-bottom: 0.4em;
        font-family: "BentonSansBBVA Medium", "Helvetica Neue", Arial, Helvetica, sans-serif; }
      .bbva-cards-editorial .card-block [class*="col"]:first-child .card-wrap .faux-link, .bbva-cards-editorial .card-block [class*="col"]:last-child .card-wrap .faux-link {
        left: 41.5%; }
  /* Editorial Layout, Flipped (Alternate) */
  .bbva-cards-editorial-alternate .card-block {
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse; }
  /* Image "Break" Layout */
  .bbva-cards .card-block .card-img-break {
    margin-top: 0; }
    .bbva-cards .card-block .card-img-break img {
      margin: 2em auto; }
  /* Video Cards */
  .bbva-cards .card-block .card-video .bbva-coronita_video-play {
    left: 26%;
    top: 30%; }
  .bbva-cards .card-block .card-video .card-img, .bbva-cards .card-block .card-video .image-header-overlay {
    height: auto;
    min-height: 180px;
    width: 50%; }
  .bbva-cards .card-block .card-video .image-header-overlay {
    height: 100%;
    width: 49%; }
  .bbva-cards .card-block .card-video .card-text {
    width: 50%; }
  .bbva-cards .card-block .card-video .faux-link {
    left: 51.5%; }
  .hero-main .hero-text {
    width: 60%; }
  .hero-secondary {
    padding: 5em 0; }
    .hero-secondary .hero-text {
      font-size: 0.9em; }
    .hero-secondary .img-responsive {
      padding-right: 0; }
  .hero-secondary.hero-text-left .img-responsive {
    padding: 0; }
  .hero-showcase {
    margin-bottom: 1em;
    padding: 1em 0; }
    .hero-showcase .hero-text {
      font-size: 1em;
      width: 55%; }
    .hero-showcase .hero-img-wrapper .hero-img {
      width: 63%; }
      .hero-showcase .hero-img-wrapper .hero-img img {
        margin: 0;
        right: -30%; }
  .image-header {
    min-height: 225px;
    margin-bottom: 4.5em; }
    .image-header h1.hero {
      font-size: 5rem; }
    .image-header .container {
      width: 83.33333333%; }
  /* Video Full-Width Image Header */
  .video-full-width a .bbva-coronita_video-play {
    font-size: 5.75rem; }
  /*Product Header*/
  .image-header.product-header {
    margin-bottom: 20%; }
    .image-header.product-header .card-img {
      max-width: 35vw; }
  .product-block {
    display: block;
    padding: 2em 0; }
    .product-block .media-left, .product-block .media-right, .product-block .media-body {
      display: block;
      max-width: 100%;
      width: 100%; }
    .product-block .media-left, .product-block .media-right {
      padding: 0 0 4em; }
      .product-block .media-left img, .product-block .media-right img {
        float: none;
        margin: 0 auto; }
  .secondary-content-3-col .secondary-content {
    margin-right: 0;
    padding-bottom: 2.75em;
    width: 100%; }
  .features-benefits-slide {
    min-height: 500px; }
    .features-benefits-slide .container > div {
      width: auto; }
      .features-benefits-slide .container > div > div {
        max-width: 90%; }
  .sign-off {
    -webkit-flex-flow: column wrap;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap; }
    .sign-off .so-large-ad {
      margin-bottom: 3.2rem; }
      .sign-off .so-large-ad .row {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-flow: column wrap;
        -ms-flex-flow: column wrap;
        flex-flow: column wrap; }
        .sign-off .so-large-ad .row div:nth-child(2) {
          -webkit-order: 1;
          -ms-flex-order: 1;
          order: 1; }
          .sign-off .so-large-ad .row div:nth-child(2) img {
            max-width: 65%;
            margin: 0 auto;
            display: block;
            margin-bottom: 6rem; }
        .sign-off .so-large-ad .row div:nth-child(1) {
          -webkit-order: 2;
          -ms-flex-order: 2;
          order: 2;
          text-align: center; }
  /* Blog Author Page */
  .image-header.image-header-blog h2 {
    display: none; }
  .sign-off [class*="col"]:first-child {
    margin-bottom: 3rem; }
  .sign-off [class*="col"]:first-child .lg-img img,
  .sign-off [class*="col"]:first-child .lg-img svg,
  .sign-off [class*="col"]:first-child .lg-img .img-responsive {
    max-width: 80%; }
  #card-drawer .dropdown-only .dropdown-menu a {
    color: #000;
    padding: 0.5em 0.75em; }
  #card-drawer .dropdown-menu li > a {
    color: #000;
    padding: 0.5em 0.75em; }
  #card-drawer li.active .dropdown-menu li.active > a {
    color: #227cca; }
  #card-drawer li.active .dropdown-menu li a {
    color: #000; }
  #card-drawer .tab-content .tab-pane img.img-responsive {
    margin: 0 auto;
    max-width: 50%;
    margin-bottom: 2rem; }
  .card-selected {
    margin: 0 auto;
    max-width: 60%;
    margin-bottom: 2rem; }
  .cta-aside .btn {
    max-width: 80%; }
  /*full width slant*/
  .promo-full-width-slant .promo-img {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 35rem;
    max-height: 35rem;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    background-size: cover;
    background-position: center top;
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 90%, 0 100%);
    clip-path: polygon(0 0, 100% 0%, 100% 90%, 0 100%); }
  .promo-full-width-slant .promo-banner .promo-content {
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
    text-align: center;
    margin-top: 33rem;
    padding: 2rem 0; }
  .promo-full-width-slant .promo-content h1 {
    font-size: 3.25rem; }
  .sitemap .sitemap-section {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 30px;
    -moz-column-gap: 30px;
    column-gap: 30px; }
  /* Create the parallax scrolling effect 
        .parallax-scroll { 
            background-attachment: initial;
        }*/
  .promo-video .video-embed .container {
    width: 100%;
    padding: 0; }
    .promo-video .video-embed .container .row {
      margin: 0; }
      .promo-video .video-embed .container .row .col-xs-12 {
        padding: 0; } }

@media (max-width: 47.938em) {
  body {
    color: #121212; }
  .hero-h1, .hero h1, h1.hero, .hero-h1 a, .hero h1 a, h1.hero a {
    font-size: 5.3rem; }
  h1, .h1 {
    font-size: 3.8rem; }
  h2, .h2 {
    font-size: 3.4rem; }
  h3, .h3 {
    font-size: 2.8rem; }
  h4, .h4 {
    font-size: 2.6rem; }
  .lead {
    font-size: 2rem; }
  .container-fluid {
    padding-bottom: 2.5em;
    padding-top: 2.5em; }
  #header-sign-in-mobile {
    background-color: #f4f4f4;
    padding: 0 1.4em; }
    #header-sign-in-mobile .sign-in-links {
      min-height: auto; }
    #header-sign-in-mobile .sign-in-bg {
      height: 230px;
      width: 100%; }
      #header-sign-in-mobile .sign-in-bg.maintenance-notice-toggle-adjust {
        height: 270px; }
      #header-sign-in-mobile .sign-in-bg:after {
        content: '\0000a0';
        width: 0;
        height: 0;
        text-indent: -9999px;
        border-left: 23px solid transparent;
        border-right: 23px solid transparent;
        border-top: 25px solid #fff;
        position: absolute;
        display: block;
        bottom: -24px;
        left: 44.5%;
        -moz-transform: scale(0.9999); }
    #header-sign-in-mobile .sign-in-form {
      background-color: transparent;
      padding: 3em 0; }
    #header-sign-in-mobile .sign-in-links {
      background-color: transparent;
      padding: 2em 0; }
      #header-sign-in-mobile .sign-in-links ul {
        width: 100%; }
        #header-sign-in-mobile .sign-in-links ul li {
          padding-bottom: 0.7em; }
  /* Commercial Sign-In */
  #header-sign-in-mobile .sign-in-commercial .sign-in-form .btn {
    width: 48%; }
  body > header.container-fluid .maintenance-notice-toggle {
    margin-bottom: 0; }
  footer {
    padding: 3.5em 0; }
  footer .tagline-container,
  footer .social-media ul,
  footer nav > ul {
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .pre-footer {
    padding: 3.5em 0 2em; }
    .pre-footer .flex div {
      padding: 0 15px 3em;
      text-align: center; }
      .pre-footer .flex div ul li {
        display: block;
        text-align: center; }
    .pre-footer .btn {
      font-size: 1.425rem;
      padding: 1.3rem 3.7rem; }
    .pre-footer .flex div:nth-child(1), .pre-footer .flex div:nth-child(2) {
      padding-bottom: 3em; }
    .pre-footer .flex div:nth-child(1), .pre-footer .flex div:nth-child(3) {
      border-right: none; }
    .pre-footer .flex div:nth-child(2), .pre-footer .flex div:nth-child(4) {
      padding-left: 15px; }
    .pre-footer .flex div:nth-child(3), .pre-footer .flex div:nth-child(4) {
      border-top: none;
      padding-top: 0; }
  .footer-full nav {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    text-align: center; }
    .footer-full nav div:nth-child(3), .footer-full nav div:nth-child(4) {
      border-top: none;
      padding-top: 0; }
  table {
    margin: 0 0 3em; }
    table th, table td {
      padding: 2.8rem; }
    table td:first-child {
      min-width: auto; }
  .image-header.image-header-short {
    min-height: 200px; }
  .bbva-cards .col-xs-12 > p, .bbva-cards-editorial .col-xs-12 > p {
    padding: 0; }
  .bbva-cards .card-block, .bbva-cards-editorial .card-block {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .bbva-cards .card-block .card-wrap, .bbva-cards-editorial .card-block .card-wrap {
      display: block; }
      .bbva-cards .card-block .card-wrap .card-img, .bbva-cards-editorial .card-block .card-wrap .card-img {
        height: 220px;
        width: 100%;
        margin: 0 1.375em 0 0; }
      .bbva-cards .card-block .card-wrap .card-text, .bbva-cards-editorial .card-block .card-wrap .card-text {
        width: 100%; }
      .bbva-cards .card-block .card-wrap .faux-link, .bbva-cards-editorial .card-block .card-wrap .faux-link {
        left: auto; }
  /* Editorial Layout */
  /* Featured Articles */
  .bbva-cards-editorial .card-block [class*="col"]:first-child .card-wrap,
  .bbva-cards-editorial .card-block [class*="col"]:last-child .card-wrap {
    display: block; }
    .bbva-cards-editorial .card-block [class*="col"]:first-child .card-wrap p:not(.faux-link),
    .bbva-cards-editorial .card-block [class*="col"]:last-child .card-wrap p:not(.faux-link) {
      max-height: none; }
    .bbva-cards-editorial .card-block [class*="col"]:first-child .card-wrap .card-img,
    .bbva-cards-editorial .card-block [class*="col"]:last-child .card-wrap .card-img {
      height: 220px;
      width: 100%;
      margin: 0 1.375em 0 0; }
    .bbva-cards-editorial .card-block [class*="col"]:first-child .card-wrap .card-text,
    .bbva-cards-editorial .card-block [class*="col"]:last-child .card-wrap .card-text {
      width: 100%; }
    .bbva-cards-editorial .card-block [class*="col"]:first-child .card-wrap h3,
    .bbva-cards-editorial .card-block [class*="col"]:last-child .card-wrap h3 {
      padding-top: 0; }
    .bbva-cards-editorial .card-block [class*="col"]:first-child .card-wrap .faux-link,
    .bbva-cards-editorial .card-block [class*="col"]:last-child .card-wrap .faux-link {
      left: auto; }
  /* Image "Break" Layout */
  .bbva-cards .card-block .card-img-break {
    margin-top: 60px; }
    .bbva-cards .card-block .card-img-break .card-img {
      margin: 0 0 -2em; }
    .bbva-cards .card-block .card-img-break img {
      margin: -60px auto 1.75em;
      max-width: 35%; }
  /* Video Cards */
  .bbva-cards .card-block .card-video .bbva-coronita_video-play {
    left: 53%;
    top: 87px; }
  .bbva-cards .card-block .card-video .image-header-overlay {
    height: 220px;
    width: 100%; }
  .hero-main .hero-text {
    font-size: 0.9em;
    margin: 6.55vh 0; }
    .hero-main .hero-text .btn {
      border: none;
      border-radius: 1px;
      color: #fff !important;
      font-family: "BentonSansBBVA Bold", "Helvetica Neue", Arial, Helvetica, sans-serif;
      font-size: 1.6rem;
      margin: 0.5em 0;
      padding: 2rem 3rem;
      transition: background-color 100ms linear 0s;
      white-space: inherit;
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
      margin-right: 1.75em;
      margin-bottom: 1.75em; }
  .hero-secondary {
    text-align: center; }
    .hero-secondary .row {
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
    .hero-secondary .hero-text {
      width: 100%;
      padding: 1.75em 2em 0; }
      .hero-secondary .hero-text .hero-cta .btn {
        margin: 0 auto;
        border: none;
        border-radius: 1px;
        color: #fff !important;
        font-family: "BentonSansBBVA Bold", "Helvetica Neue", Arial, Helvetica, sans-serif;
        font-size: 1.6rem;
        margin: 0.5em 0;
        padding: 2rem 3rem;
        transition: background-color 100ms linear 0s;
        white-space: inherit;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased; }
    .hero-secondary .img-responsive {
      max-height: 60vw; }
  .hero-secondary.hero-text-left .row {
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse; }
  .hero-showcase {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 3em 0 3.5em; }
    .hero-showcase .hero-img-wrapper {
      position: relative;
      width: 100%; }
      .hero-showcase .hero-img-wrapper .hero-img {
        margin: 0 auto 1em;
        max-width: 400px;
        position: relative;
        top: 0;
        width: 70%; }
        .hero-showcase .hero-img-wrapper .hero-img img {
          right: 0; }
  .inline-nav-item {
    margin: 3em auto 3.65em; }
    .inline-nav-item img {
      max-width: 128px; }
    .inline-nav-item h2 {
      color: #1973b8;
      font-size: 1.6rem;
      display: inline; }
    .inline-nav-item:hover h2 {
      border-bottom: 1px solid #bdbdbd;
      color: #104975; }
    .inline-nav-item .faux-link {
      display: none; }
  .circle-animation-wrapper {
    margin-bottom: 1.5em; }
  .secondary-content-wrapper .secondary-content {
    margin-right: 0;
    padding-bottom: 2.75em;
    width: 100%; }
  .features-benefits {
    padding-top: 0;
    padding-bottom: 0; }
    .features-benefits .carousel-indicators li {
      padding: 0; }
      .features-benefits .carousel-indicators li:not(.active) {
        display: none; }
    .features-benefits .carousel-arrows {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      position: absolute; }
  .features-benefits-slide {
    min-height: 450px; }
  /* Video Modal */
  .modal-video .modal-dialog {
    margin: 2em auto;
    width: 90%; }
  /* City - State Selector Modal */
  .chooseRegion .modal-dialog {
    max-width: 100%;
    margin: 15px;
    width: auto; }
  .testimonial {
    position: relative;
    padding: 6rem 15%; }
    .testimonial p {
      font-size: 2.4rem; }
      .testimonial p.attribution {
        font-size: 1.7rem;
        max-width: 100%; }
    .testimonial:before {
      content: "";
      font-family: 'coronita';
      left: 40%;
      right: 40%;
      font-size: 5rem;
      top: -3.5rem;
      text-align: center; }
  /* Blog Author Page */
  .blog-author-page {
    margin-top: -40px;
    padding-top: 0; }
    .blog-author-page .img-round {
      height: 80px;
      width: 80px; }
  .blog-author-page .blog-author-social {
    display: block;
    max-width: 70%;
    position: absolute;
    right: 0;
    top: 50px; }
    .blog-author-page .blog-author-social li {
      padding-left: 0.65em;
      position: relative; }
    .blog-author-page .blog-author-social li a {
      border-radius: 50%;
      color: #fff;
      display: table;
      position: relative;
      transition: background-color 100ms linear 0s;
      height: 32px;
      width: 32px;
      text-align: center; }
      .blog-author-page .blog-author-social li a span {
        display: block;
        position: relative;
        text-indent: -9999px; }
      .blog-author-page .blog-author-social li a:before {
        display: table-cell;
        font-size: 1.9rem;
        text-indent: 0;
        vertical-align: middle;
        padding: 0; }
      .blog-author-page .blog-author-social li a.bbva-twitter {
        background-color: #00aced;
        color: #fff; }
      .blog-author-page .blog-author-social li a.bbva-facebook {
        background-color: #3b5998;
        color: #fff; }
      .blog-author-page .blog-author-social li a.bbva-googleplus {
        background-color: #dd4b39;
        color: #fff; }
      .blog-author-page .blog-author-social li a.bbva-pinterest {
        background-color: #f15a5f;
        color: #fff; }
      .blog-author-page .blog-author-social li a.bbva-linkedin {
        background-color: #517fa4;
        color: #fff; }
      .blog-author-page .blog-author-social li a.bbva-youtube {
        background-color: #bb0000;
        color: #fff; }
      .blog-author-page .blog-author-social li a.bbva-coronita_link {
        background-color: #1973b8;
        color: #fff; }
      .blog-author-page .blog-author-social li a:hover {
        background-color: #666666; }
  .large-numbers {
    font-size: 4rem; }
  .sign-in-form .username-input {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .sign-in-form input[type="text"] {
    -webkit-flex: 2 1 auto;
    -ms-flex: 2 1 auto;
    flex: 2 1 auto;
    margin-bottom: 0; }
  .sign-in-form input[type="text"] + .btn {
    margin: 0;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    padding: 1.9rem 2rem;
    min-width: 40%;
    max-width: 60%;
    margin-bottom: 0; }
  .sign-in-form + p.pull-left,
  .sign-in-form + p.pull-left + p.pull-right {
    float: none !important; }
  .sign-off [class*="col"]:first-child .lg-content,
  .sign-off [class*="col"]:first-child .lg-img {
    -webkit-flex-basis: auto;
    -ms-flex-preferred-size: auto;
    flex-basis: auto; }
  .sign-off [class*="col"]:first-child .lg-content {
    text-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0; }
  .sign-off [class*="col"]:first-child .lg-img {
    margin-bottom: 6rem;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
  .sign-off [class*="col"]:first-child div {
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse; }
  /* Sticky header */
  .feedify .feedify-item .feedify-item-header .header-left {
    font-size: 12px;
    display: none; }
  .feedify .feedify-item .feedify-item-header .icon-container {
    display: none; }
  .feedify .feedify-item .feedify-item-header .header-right {
    /*.btn {
                  font-size: 12px;
                  padding: 2rem 2rem;
                }*/ }
    .feedify .feedify-item .feedify-item-header .header-right .icon {
      font-size: 1.3em;
      padding-right: 12px; }
    .feedify .feedify-item .feedify-item-header .header-right .hidden-icons {
      display: block;
      font-size: 2rem;
      margin-top: 20px; }
      .feedify .feedify-item .feedify-item-header .header-right .hidden-icons .icon-link {
        margin-left: 0; }
  .feedify .feedify-item .feedify-item-header .hidden-icons {
    display: block !important;
    margin-top: 2rem; }
    .feedify .feedify-item .feedify-item-header .hidden-icons .icon-link {
      font-size: 2.5rem;
      margin-left: 0.5rem; }
  .vertical-tabs .tab-content {
    float: left;
    width: 100%;
    padding-left: 0; }
  .vertical-tabs .tab-content > a {
    position: relative;
    display: table;
    width: 100%;
    padding: 3rem 0 3rem 0;
    border-bottom: 1px solid #e9e9e9;
    padding-right: 3.2rem; }
    .vertical-tabs .tab-content > a:active {
      border-bottom: 1px solid transparent; }
    .vertical-tabs .tab-content > a:focus {
      border-bottom: 1px solid transparent; }
  .vertical-tabs .tab-content a > span:first-child {
    margin-right: 1rem;
    display: table-cell;
    width: 3rem; }
  .vertical-tabs .tab-content a.active {
    border-bottom: 1px solid transparent;
    color: rgba(25, 115, 184, 0.7); }
    .vertical-tabs .tab-content a.active:active {
      border-bottom: 1px solid transparent; }
    .vertical-tabs .tab-content a.active:focus {
      border-bottom: 1px solid transparent; }
  .vertical-tabs .tab-content .tab-pane {
    padding-top: 0; }
  .vertical-tabs .fade.active > h5 {
    display: none; }
  /*handles the minus plus switch*/
  .vertical-tabs .panel-heading a span:nth-of-type(2),
  .vertical-tabs .panel-heading a span:nth-of-type(3) {
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
  .vertical-tabs a .bbva-coronita_minus-stag,
  .vertical-tabs a .bbva-coronita_plus-stag {
    color: #1973b8;
    font-size: 1em;
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
  .vertical-tabs a .bbva-coronita_plus-stag {
    display: inline-block; }
  .vertical-tabs .active .bbva-coronita_minus-stag {
    display: inline-block; }
  .vertical-tabs .active .bbva-coronita_plus-stag {
    display: none; }
  .responsive-tabs-container.accordion-xs .nav-tabs {
    display: none; }
  .promo-banner {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    max-height: 100%; }
    .promo-banner .promo-content {
      -webkit-order: 2;
      -ms-flex-order: 2;
      order: 2;
      text-align: center;
      width: 100%;
      padding-top: 3rem; }
    .promo-banner .promo-img {
      -webkit-order: 1;
      -ms-flex-order: 1;
      order: 1;
      -webkit-clip-path: polygon(0 0, 100% 0%, 100% 90%, 0 100%);
      clip-path: polygon(0 0, 100% 0%, 100% 90%, 0 100%);
      height: 30rem;
      max-height: 30rem;
      width: 100%; }
  .cq-searchpromote-results .cq-searchpromote-result-item .description {
    width: 100%; }
  .slant,
  .container-fluid.affinity-selector.slant {
    -webkit-clip-path: polygon(0 0, 100% 5%, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 10%, 100% 100%, 0% 100%);
    padding-top: 10rem;
    padding-bottom: 5rem; }
  .slant a img {
    margin: 0 auto;
    width: 65%; }
  .slant .card-img-link + a {
    margin-bottom: 4rem; }
  .affinity-selector .card-img-link:hover, .affinity-selector .card-img-link:active, .affinity-selector .card-img-linkvisited {
    box-shadow: none;
    border-bottom: 1px solid transparent;
    border-radius: none; }
  .affinity-selector .card-img-link img {
    margin: 0 auto;
    width: 65%;
    display: block; }
  .promo-video.container-fluid a.icon-link .text-center h2 {
    font-size: 5rem;
    margin-bottom: 12rem; } }

/* Portrait */
@media only screen and (min-device-width: 767px) and (max-device-width: 1024px) and (orientation: portrait) {
  .vertical-tabs a .bbva-coronita_minus-stag,
  .vertical-tabs .collapsed .bbva-coronita_minus-stag {
    opacity: 0;
    display: none; } }

@media (max-width: 36em) {
  .hero-h1, .hero h1, h1.hero, .hero-h1 a, .hero h1 a, h1.hero a {
    font-size: 4.7rem; }
  h1, .h1 {
    font-size: 3.25rem; }
  h2, .h2 {
    font-size: 2.8rem;
    line-height: 1.25; }
  h3, .h3 {
    font-size: 2.6rem; }
  h4, .h4 {
    font-size: 2.4rem; }
  blockquote, blockquote.blockquote-aside {
    margin: 2.5em 0;
    padding: 2em; }
    blockquote p, blockquote.blockquote-aside p {
      font-size: 1.2em; }
  .lead {
    font-size: 1.8rem; }
  .page-header {
    margin: 1.5em 0 0.75em; }
  /* Commercial Sign-In */
  #header-sign-in-mobile .sign-in-commercial .sign-in-bg {
    height: 310px; }
  #header-sign-in-mobile .sign-in-commercial .sign-in-form > div {
    width: 100%; }
  #header-sign-in-mobile .sign-in-commercial .sign-in-form .btn {
    width: 100%; }
  .crm-disposition-buttons .crm-reservation-code-form {
    display: block;
    margin-bottom: 0; }
    .crm-disposition-buttons .crm-reservation-code-form .form-group-bbva {
      display: block;
      margin-bottom: 2rem; }
      .crm-disposition-buttons .crm-reservation-code-form .form-group-bbva:first-child {
        padding-bottom: 0.7rem;
        width: 100%; }
      .crm-disposition-buttons .crm-reservation-code-form .form-group-bbva .form-control-bbva.crm-reservation-code-input {
        margin-bottom: -1.25rem; }
      .crm-disposition-buttons .crm-reservation-code-form .form-group-bbva .crm-reservation-code-submit {
        white-space: unset; }
  /* Alert Modal */
  .modal-dialog {
    max-width: 88%; }
  .modal-content .modal-body {
    padding: 5rem 5rem 1.5rem; }
  .modal-alert .modal-content .modal-body {
    padding: 5rem 5rem 1.5rem; }
  .modal-content .modal-close {
    margin: 1.5rem 1rem 0 0; }
  /* Video Modal */
  .modal-video .modal-content .modal-body {
    padding: 0; }
  .hero-main .hero-text {
    margin: 2.25em 0;
    width: 100%; }
    .hero-main .hero-text .btn {
      margin-bottom: 1.75em; }
    .hero-main .hero-text .icon-link, .hero-main .hero-text a:not(.btn) {
      margin-right: 0;
      margin-left: 0; }
  .hero-secondary .hero-text {
    margin-bottom: 0; }
    .hero-secondary .hero-text .hero-cta .btn {
      border: none;
      border-radius: 1px;
      color: #fff !important;
      font-family: "BentonSansBBVA Bold", "Helvetica Neue", Arial, Helvetica, sans-serif;
      font-size: 1.6rem;
      margin: 0.5em 0;
      padding: 2rem 3rem;
      transition: background-color 100ms linear 0s;
      white-space: inherit;
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased; }
  .hero-showcase .hero-text {
    font-size: 0.85em; }
  .features-benefits .carousel-indicators li {
    font-size: 1.4rem; }
    .features-benefits .carousel-indicators li .icon {
      font-size: 2.3rem; }
  .features-benefits .carousel-arrows li a {
    font-size: 1.4rem; }
  .features-benefits-slide {
    min-height: 450px; }
    .features-benefits-slide .container > div > div {
      max-width: 100%; }
  /* Cards - Image "Break" Layout */
  .bbva-cards .card-block .card-img-break img {
    max-height: 140px;
    max-width: 90%; }
  .call-out {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: column wrap;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap; }
    .call-out .call-out-icon {
      top: 0;
      padding-right: 0;
      margin-bottom: 2rem; }
    .call-out .media-body {
      width: 100%;
      display: block; }
  .badge-container.horizontal {
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap; }
  .badge-container.horizontal .badge {
    margin: 0 0 1.6rem 0; }
  .parallaxParent {
    height: 38vh; }
  /*Product Header*/
  .image-header.product-header {
    min-height: 250px;
    margin-bottom: 25%; }
    .image-header.product-header .card-img {
      margin-top: -6rem;
      max-width: 55vw; }
    .image-header.product-header h1.hero {
      font-size: 6vw; }
  .feedify-item-header .header-left {
    display: none; }
  .sitemap h2 {
    padding-bottom: 0.6em;
    padding-top: 0.6em; }
  .sitemap .sitemap-section {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    -webkit-column-gap: 0;
    -moz-column-gap: 0;
    column-gap: 0; }
    .sitemap .sitemap-section .sitemap-col {
      display: inline-block;
      padding-bottom: 0.5em; }
  /*Legal not not table*/
  table.disclosure {
    width: 100%;
    display: block; }
  .promo-video.container-fluid a.icon-link {
    padding: 7rem 0; }
    .promo-video.container-fluid a.icon-link:hover, .promo-video.container-fluid a.icon-link:focus, .promo-video.container-fluid a.icon-link:active {
      padding: 7rem 0; }
    .promo-video.container-fluid a.icon-link .text-center h2 {
      font-size: 4.5rem;
      margin-bottom: 10rem; } }

@media (max-width: 30em) {
  h1, .h1 {
    font-size: 3.0rem; }
  h2, .h2 {
    font-size: 2.5rem;
    line-height: 1.25; }
  h3, .h3 {
    font-size: 2.2rem; }
  h4, .h4 {
    font-size: 2rem; }
  form input, form textarea, .form-group-bbva input[type="text"], .form-group-bbva textarea, .form-group-bbva select, form .form-group-bbva .select2 .select2-selection {
    padding: 1.75rem 1.25rem; }
  /* Pew Disclosure Table
  table.pew td, table.pew td:first-child {
    font-size: 1.3rem;
    padding: 1.2rem 1%;
  }

  table.pew .pew-fee {
    width: 3%;
  }*/
  /*Responsive Tables*/
  table {
    border-bottom: 5px solid #e9e9e9;
    border-top: 5px solid #e9e9e9; }
    table.table-core-blue {
      border-top: 3px solid #004481; }
    table.table-light-blue {
      border-top: 3px solid #5bbeff; }
    table thead {
      display: none; }
    table tr {
      padding: 2rem;
      display: block; }
      table tr:nth-of-type(2n) {
        background-color: inherit; }
    table td {
      padding: 0;
      display: block;
      border: none; }
      table td:first-child {
        font-family: "BentonSansBBVA Bold", "Helvetica Neue", Arial, Helvetica, sans-serif;
        font-size: 2rem;
        padding-left: 0; }
      table td:before {
        content: attr(data-th);
        display: block;
        font-size: 1.4rem;
        font-weight: 700;
        font-family: "Tiempos Headline Medium", Georgia, Times, serif; }
      table td p:last-child {
        margin-bottom: 0; }
    table:not(.pew, .legal) td:first-child {
      padding-left: 0;
      padding: 0;
      min-width: 100%; }
  /*Pew Disclosure*/
  table.pew {
    width: 100%;
    border: 1px solid #e9e9e9; }
    table.pew tr {
      border: none;
      padding-top: 0; }
      table.pew tr:first-child {
        background: #072146; }
      table.pew tr td {
        font-size: 1.6rem;
        font-family: "BentonSansBBVA Book", "Helvetica Neue", Arial, Helvetica, sans-serif; }
      table.pew tr *:last-child {
        padding-bottom: 0; }
  table.pew tr td:empty {
    display: none; }
  table.pew .pew-title.visible-xs,
  table.pew th.visible-xs {
    text-align: left;
    background: none; }
  table.pew td.pew-description {
    font-family: "BentonSansBBVA Medium", "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-weight: 700;
    text-align: left;
    font-size: 2rem;
    color: #121212;
    border-top: 1px solid #e9e9e9;
    width: 100%; }
  table.pew tr:nth-of-type(2) td.pew-description {
    border-top: none; }
  table.pew td.pew-fee {
    width: 100%;
    font-size: 1.6rem;
    font-family: "BentonSansBBVA Book", "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-weight: 400;
    text-align: left;
    background: none; }
  table.pew .pew-fee + td {
    font-size: 1.6rem; }
  table.pew tr:last-child {
    border-bottom: none; }
  table.pew.pew-three-col td:not(.pew-title) {
    width: 100%; }
  /*Legal table*/
  table.legal *,
  table.legal.disclosure-table * {
    border: none; }
  table.legal tr, table.legal th, table.legal td,
  table.legal.disclosure-table tr,
  table.legal.disclosure-table th,
  table.legal.disclosure-table td {
    display: block;
    padding: 0; }
  table.legal tr th,
  table.legal tr td,
  table.legal.disclosure-table tr th,
  table.legal.disclosure-table tr td {
    padding: .75rem;
    width: 100%; }
  table.legal td,
  table.legal.disclosure-table td {
    font-size: 1.4rem; }
    table.legal td:first-child,
    table.legal.disclosure-table td:first-child {
      font-size: 1.6rem;
      background: #f4f4f4; }
  table.legal th,
  table.legal.disclosure-table th {
    font-size: 1.6rem; }
  /*not not disclosure table*/
  table.disclosure-table {
    border-top: none;
    border-bottom: none;
    border-collapse: collapse; }
    table.disclosure-table tr {
      padding: 0;
      border: none; }
      table.disclosure-table tr:last-child {
        border-bottom: 1px solid #121212; }
      table.disclosure-table tr td {
        padding: .35rem;
        font-size: 1.3rem;
        border-bottom: none; }
    table.disclosure-table td:first-child {
      width: 100%;
      font-size: 1.3rem;
      font-family: "BentonSansBBVA Book", "Helvetica Neue", Arial, Helvetica, sans-serif; }
  .btn {
    display: table;
    margin-left: auto;
    margin-right: auto;
    padding: 1.9rem 16%; }
  .btn-xs {
    padding: 1rem 16%; }
  .btn-sm {
    padding: 1.3rem 16%; }
  .btn:last-of-type {
    margin-right: auto;
    margin-left: auto; }

  /* Multiple Buttons, Side by Side */
  .btn + .btn, .btn + .icon-link, .btn + a, .icon-link + a {
    display: table;
    margin-top: 1.25em;
    margin-left: auto;
    margin-right: auto;
    /* Creating a break before each link so that they flow onto separate lines. */ }
    .btn + .btn:before, .btn + .icon-link:before, .btn + a:before, .icon-link + a:before {
      content: '\0000a0';
      display: block;
      width: 0;
      height: 0; }
  .crm-mobile-app-links > span,
  .crm-mobile-app-links > span:first-child,
  .crm-mobile-app-links > span:last-child,
  .crm-mobile-app-links > span .crm-no-interest {
    display: block;
    text-align: center; }
  .crm-mobile-app-links {
    padding: 2rem 2.5em; }
  .crm-mobile-app-links > span:first-child {
    padding-bottom: 0.7rem; }
  .crm-mobile-app-links > span:last-child, .crm-mobile-app-links > span:last-child a {
    margin-bottom: 0; }
  body > header.container-fluid #logo-mobile img {
    width: 155px;
    height: 21px; }
  body > header.container-fluid .maintenance-notice-toggle span {
    padding-right: 0.7em; }
  #header-sign-in-mobile {
    padding: 0 0.5em; }
    #header-sign-in-mobile .sign-in-form h2 {
      font-size: 1.65em;
      padding-right: 0; }
    #header-sign-in-mobile .sign-in-form input[type="text"] {
      max-width: 60%;
      padding: 0.75em 0.4em 0.75em 2.7em; }
    #header-sign-in-mobile .sign-in-form #submit-olb {
      max-width: 33%;
      padding: 1rem 1.4rem; }
  footer .tagline-container {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 0 1.5em; }
  footer .tagline {
    border-left: none;
    padding: 0.5em 0 0 0;
    text-align: center;
    width: 100%; }
  footer nav > ul {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  footer nav > ul li {
    border-left: none;
    padding: 0.4em 0;
    text-align: center;
    width: 100%; }
  .hero-main {
    background-position: center top;
    background-repeat: no-repeat;
    background-size: auto 220px;
    min-height: none;
    padding: 0; }
    .hero-main > .container > .row {
      margin: 0; }
      .hero-main > .container > .row > div {
        padding: 0; }
    .hero-main .container {
      padding: 0 15px; }
    .hero-main .clipping-triangle {
      width: 100%;
      height: 0;
      padding-top: 220px;
      overflow: hidden; }
      .hero-main .clipping-triangle div {
        content: '\0000a0';
        display: block;
        width: 0;
        height: 0;
        margin-top: -30px;
        border-top: 30px solid transparent;
        border-right: 500px solid #fff;
        -moz-transform: scale(0.9999); }
    .hero-main .hero-text {
      background-color: #fff;
      margin: 0;
      padding-top: 3rem;
      text-align: center; }
      .hero-main .hero-text p.hero-cta {
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0.5em; }
      .hero-main .hero-text .btn {
        display: inline-block;
        margin-bottom: 1em;
        margin-right: 0;
        margin-top: 0;
        padding: 1.9rem 16%; }
      .hero-main .hero-text a:not(.btn) {
        margin-right: 1rem;
        margin-left: 1rem; }
        .hero-main .hero-text a:not(.btn) .icon {
          display: inline; }
  .hero-secondary .hero-text .hero-cta .btn {
    padding: 1.9rem 16%; }
  .hero-showcase {
    padding: 2.5em 0 3em; }
  .image-header {
    margin-bottom: 2.75em; }
    .image-header h1.hero {
      font-size: 3.2rem; }
  .features-benefits .carousel-indicators li {
    font-size: 1.3rem; }
    .features-benefits .carousel-indicators li .icon {
      font-size: 2.2rem; }
  .features-benefits .carousel-arrows li a span.icon {
    font-size: 2.2rem; }
  .features-benefits .carousel-arrows li a span:not(.icon) {
    display: none; }
  .features-benefits-slide {
    min-height: 365px; }
  /* City - State Selector Modal */
  .chooseRegion {
    text-align: center; }
    .chooseRegion .btn[type=submit] {
      margin-right: 0;
      margin-bottom: 2em; }
    .chooseRegion .icon-link {
      display: block;
      margin: 0 0 1em;
      position: relative; }
  /* Blog Article */
  .container-fluid.blog-article-block .blog-author-block {
    display: block; }
  .container-fluid.blog-article-block .blog-author {
    margin: 0 auto 1em; }
  .container-fluid.blog-article-block .blog-social-share {
    display: table;
    margin: 0 auto; }
    .container-fluid.blog-article-block .blog-social-share li:first-child {
      padding-left: 0; }
  .cta-aside {
    padding: 3.125em 10% 2em; }
  /* Sticky Header Page */
  .feedify-item .feedify-item-header .btn {
    width: auto;
    padding: 1em 2em; } }
