/*
Theme Name: Openweb Theme
Theme URI: http://webpublicas.bbva.com
Author: OpenWeb Team. (@OpenWebTeam)
Description: Tema para Wordpress basado en la inicitiva Coronita del equipo UX BBVA.
Version: 1.6.3
*/
/*
Definicion de los colores de las categorias para la clase .bullet
ejemplos:
*/
.bbva-cards .article-category.h6.bullet.categoria-1:before,
.item-category.categoria-1:before {
    color: #da3851;
}
.bbva-cards .article-category.h6.bullet.antiquarianism:before,
.item-category.cat-c:before{
    color: #f7893b;
}
.bbva-cards .article-category.h6.bullet.categoria-2:before,
.bbva-cards .article-category.h6.bullet.categoria-4:before,
.bbva-cards .article-category.h6.bullet.categoria-5:before,
.item-category.categoria-2:before,
.item-category.categoria-4:before,
.item-category.categoria-5:before {
    color: #f8cd51;
}
.bbva-cards .article-category.h6.bullet.categoria-6:before {
    color: #48ae64;
}
.bbva-cards .article-category.h6.bullet.categoria-7:before,
.bbva-cards .article-category.h6.bullet.categoria-8:before,
.bbva-cards .article-category.h6.bullet.categoria-9:before {
    color: #5bbeff;
}
.bbva-cards .article-category.h6.bullet.categoria10:before {
    color: #8f7ae5;
}
